@model AdminViewModel

<form method="post">

	<div class="container">
		<div class="row">
			<div class="col-md-3">
			@await Html.PartialAsync("AdminControlPanelLeftMenu")
			</div>

			<div class="col-md-6 text-center">
				<div>
					<h3>Вход</h3>
				</div>
				<div>
					<p>
						<div>
							<label asp-for="Mail">Логин:</label><br />
							<input asp-for="Mail" size="30" placeholder="Qwerty12345" /><br />
							<span style="color:lightcoral" asp-validation-for="Mail" />
						</div>
					</p>
				</div>
				<div>
					<p>
						<div>
							<label asp-for="Password">Пароль:</label><br />
							<input asp-for="Password" type="password" size="30" placeholder="Пароль" /><br />
							<span style="color:lightcoral" asp-validation-for="Password" />
						</div>
					</p>
					<div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>
					</>
				</div>
				<p>
					<div>
						<p>
							<button class="btn btn-dark w-25" type="submit" asp-controller="Authorization" asp-action="Login">Войти</button>
						</p>
					</div>
				</p>
			</div>
		</div>
	</div>
</form>