<div class="container">
        <div class="btn-group-vertical">
            <a class="btn btn-dark" style="margin-bottom:10px" asp-controller="Authorization" asp-action="Login">Авторизация</a>
            <a class="btn btn-dark" style="margin-bottom:10px" asp-controller="Messages" asp-action="Index">Список диалогов</a>
        </div>
</div>
