<div class="container">
@await Html.PartialAsync("AdminControlPanelLeftMenu")
</div>


@model List<MessageViewModel>

@foreach (var message in Model)
{
    @message.Id
    @message.IsRead
    @message.Content
    @message.CreateDateTime
}